@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: Sansation Light;
    src: url(../font/sansation.light.eot), /* IE Compat Modes */
    url(../font/sansation.light.woff), /* Modern Browsers */
    url(../font/sansation.light.ttf) /* Safari, Android, iOS */
}

@font-face {
    font-family: cabin-bold;
    src: url(../font/cabinsketch-bold-webfont.eot), /* IE Compat Modes */
    url(../font/cabinsketch-bold-webfont.woff), /* Modern Browsers */
    url(../font/cabinsketch-bold-webfont.ttf) /* Safari, Android, iOS */
}

@font-face {
    font-family: playfair;
    src: url(../font/playfairdisplaysc-regular-webfont.eot), /* IE Compat Modes */
    url(../font/playfairdisplaysc-regular-webfont.woff), /* Modern Browsers */
    url(../font/playfairdisplaysc-regular-webfont.ttf) /* Safari, Android, iOS */
}

.top_20 {
    padding-top: 20px;
}

.top_5 {
    padding-top: 5px;
}

body {
    display: block;
    margin: 8px;
}

div#banner {
    background: url(../img/border3.jpg) repeat top left;
    height: 15px;
}

div#container {
    width: 80%;
    min-width: 734px;
    margin: auto;
}

div#header {
    width: 100%;
    padding-top: 10px;
    overflow: auto;
}

div#logo {
    width: 34%;
    min-width: 210px;
    max-width: 360px;
    float: left;
}

div#menu {
    padding-top: 30px;
    width: 64%;
    float: right;
}

.nav-collapse ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.nav-collapse li {
    float: left;
    position: relative;
    cursor: pointer;
    padding-right: 10px;
    display: block;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    zoom: 1;
}

.nav-collapse.opened {
    max-height: 9999px;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 70px;
    height: 35px;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    background: url("../img/menu_bars.png") no-repeat 50% 22%;
    background-size: 25px 25px;
}

div#menu a {
    text-decoration: none;
    font-family: 'playfair';
    font-size: 17px;
    color: #81735F;
    font-weight: BOLD;
    letter-spacing: 0px;
}

div#page {
    padding-top: 20px;
}

div#page > div {
    font-family: 'Open Sans';
    font-size: 17px;
    color: #6c7373;
}

.cntr {
    text-align: center;
}

.red_text {
    color: #c67c6d;
}

.font-sans-light {
    font-family: "Sansation Light";
    font-size: 24px;
    color: #585c5e;
    line-height: 36px;
    font-style: normal;
}

.teal {
    color: #30aea7;
}

.indent {
    width: 74%;
    margin: 0 auto;
}

.bullet {
    font-family: 'Open Sans';
    font-size: 17px;
    color: #6c7373;
    margin: 0px 0px 8px 0px;
}

div#life_goals .bullet i{
    color: #c67c6d;
    margin-top: 2px;
}

img#nellie {
    margin-right: 25px;
    float: left;
    width: 40%;
    padding-left: 5px;
}

img.background_img {
    width: 200px;
}

div#contact img {
    width: 300px;
    float: right;
}

div.background_opacity_50 {
    position: absolute;
    top: 90px;
    right: 5px;
    z-index: -10;
}

p#how_step {
    font-family: "Sansation Light";
    color: #c67c6d;
    font-size: 24px;
    padding-left: 10%;
    font-weight: bold;
}

div#bottom_border {
    background-color: #a0e0db;
    border-color: #eae9e9;
    height: 25px;
    margin-top: 20px;
}

div#footer {
    text-align: right;
    font-size: 10px;
    color: #6c7373;
}


@media screen and (max-width: 750px) {
    div#container {
        width: 100%;
        min-width: 0px;
    }

    div#header {
        padding-top: 0px;
    }

    div#logo {
        width: 100%;
        max-width: 751px;
    }

    div#menu {
        padding-top: 0px;
        padding-right: 5px;
        width: 100%;
    }

    .nav-collapse ul {
        width: calc(100% - 105px);
    }

    .nav-collapse li {
        float: none;
    }

    img.background_img {
        width: 100px;
    }

    div.background_opacity_50 {
        position: absolute;
        top: 225px;
        right: 5px;
        z-index: -10;
    }

    .js-nav-active div.background_opacity_50 {
        position: absolute;
        top: 325px;
        right: 5px;
        z-index: -10;
    }

    div#contact img {
        width: 170px;
    }
}

@media screen and (min-width: 751px) {
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        background-image: url(../img/menu_bars.png);
        display: none;
    }
}


